body {
    font-family: "Roboto-medium", roboto;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.blueContainer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.mainText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    align-items: center;
    padding-bottom: 80px;
}

.secondContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 80px;
}

.secondaryText {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    flex: 1;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 15px;
    border: 2px solid #3882F6;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 20px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 50px;
}

.imageText {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    padding-top: 10px;
}

.images {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    gap: 50px;
    padding-bottom: 70px;
}

.first,
.second,
.third,
.fourth {
    display: flex;
    flex-direction: column;
}

.fourPictures {
    width: 100%;
    border-radius: 15px;
    border: 4px solid #1F2937;
}

.greyContainer {
    background-color: #E5E7EB;
}

.quoteText {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 70px;
    padding-top: 70px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.quoteAuthor {
    text-align: right;
    font-size: 25px;
    color: #1F2937;
    font-weight: bold;
}

.blueBox {
    background-color: #3882F6;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 70px;
    margin-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastButton {
    border: 2px solid #F9FAF8;
    display: flex;
    align-items: center;
}

.call {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 25px;
}

.sign {
    color: #E5E7EB;
    font-size: 15px;
    font-weight: lighter;
}

.leftText {
    flex-direction: column;
}

.footer {
    background-color: #1F2937; 
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
}